
@{
    Layout = null;
}

<h3>Mvc Kamp Tablo Örneği  - Kategori</h3>
<br />
<table>
    <tr>
        <th> ID</th>
        <th>Kategori Adı</th>
        <th>Açıklama</th>
        <th>Duruö</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama</td>
        <td>true</td>

    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama</td>
        <td>True</td>
    </tr>
</table>